/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.dropbtn {
  background-color: #6ce44e;
  color:white;
  padding:15px;
  font-size:16px;
  margin: 10px 10px;
  border-radius :20px;
  border:none;
  box-shadow: 10px 8px 5px  rgb(215, 250, 145);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e6d35c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(55, 165, 208, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:active {background-color: #7169dd;}

.dropdown:active .dropdown-content {display: block;}

.dropdown:active .dropbtn {
  background-color: #3e8e41;
  position: fixed;
} */
/* circle */
/* .circle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: turquoise;
  margin:10px 10px;
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes move {
  0%{
    background-color: #7a328dd2;
  }
  50%{
    background-color: aqua;
  }
  100%{
    background-color: rgb(56, 151, 56);
  }
  
} */
input{
  text-shadow:2px 2px 5px rgb(25, 208, 141),0 0 25px rgb(25, 208, 141),0 0 5px rgb(218, 16, 16);
  color: rgb(134, 121, 145);
}
.bn {
    border-radius: 100%;
    width: 100px;
    height:40px;
  }

  .alignitem {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    }

  .align-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 20px;
  }

  .it {
    width: 100%;
    height: 18vh;
    margin-top: 10px;
    border: #eee;
    border-radius:10px;
    background-color:#bbe4e9;
    color: white;
    font-size: 50px;
    padding: 10px;

  }

  .dot {
    border-radius: 100%;
    padding: 10px 25px;
  }

  .resize {
    margin: 10px;
    padding: 5px;

  }

  #a {
    width:150px;
    height: 50px;
    margin-top:50px;
    border:none;
    border:  #7a328dd2;
    background-color:#bbe4e9;
    padding-left: 5px;
    text-shadow:#bbe4e9;
    color: white;
    font-size:30px;
  }

  #b {
    width:150px;
    height:50px;
    margin-top:50px;
    border:none;
    border:  #7a328dd2;
    background-color:#bbe4e9;
    padding-left: 5px;
    text-shadow:#bbe4e9;
    color: white;
    font-size: 30px;
  }
  #c {
    width:150px;
    height:50px;
    margin-top:50px;
    border:none;
    border:  #7a328dd2;
    background-color:#bbe4e9;
    padding-left: 5px;
    text-shadow:#bbe4e9;
    color: white;
    font-size: 30px;
  }
  .arrange{
    display: flex;
    justify-content: space-evenly;
  }
  .arrowright{
    width: 50px;
    height:50px;
    margin:10px 30px 10px 0px;
    float: right;
  }
  .arrowleft{
    width:50px;
    height:50px;
    float: left;
    margin: 10px 0px 10px 40px;
  }